{% extends 'layout.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
      <h1>Статьи</h1>
      <p><a href="{% url 'article_create' %}">Создать статью</a></p>
      <ul>
        {% for article in articles %}
        <li>
          <h2><a class="nav-link" href="{% url 'article_single' article.id %}">{{ article.name }}</a></h2>
          <div>{{ article.body|slice:":200" }}</div>
        </li>
        {% endfor %}
      </ul>
{% endblock %}
